src/test/resources/github849/PDS4_LADEE_1L00_1100.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:ladee  Version:1.1.0.0 - Fri Feb 23 06:43:53 PST 2024 -->
  <!-- Generated from the PDS4 Information Model Version 1.21.0.0 - System Build 14.0 -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <!--                                                                           -->
  <!--               Dictionary Stack                                            -->
  <!-- 1.21.0.0 - pds: - Common Dictionary                                       -->
  <!-- 1.1.0.0 - ladee: - LADEE Mission                                          -->
  <!--                                                                           -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/ladee/v1"
    xmlns:ladee="http://pds.nasa.gov/pds4/mission/ladee/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.1.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1L00.xsd"/>
 
  <xs:annotation>
    <xs:documentation>
_TBD_Ingest_LDD
    </xs:documentation>
  </xs:annotation>
 
  <xs:element name="LADEE" type="ladee:LADEE"> </xs:element>

  <xs:complexType name="LADEE">
    <xs:annotation>
      <xs:documentation>This is the umbrella class for the LADEE mission
        dictionary.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UVS_Specific_Attributes" type="ladee:UVS_Specific_Attributes" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UVS_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The UVS Specific Attributes class provides local
        attributes used by UVS observations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="latitude" type="ladee:latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="longitude" type="ladee:longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_latitude" type="ladee:solar_latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_longitude" type="ladee:solar_longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="altitude" type="ladee:altitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="altitude_above_terrain" type="ladee:altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="activity_number" type="ladee:activity_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="activity_type" type="ladee:activity_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="average_counts" type="ladee:average_counts" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_count" type="ladee:cosmic_ray_hit_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_00" type="ladee:cosmic_ray_hit_pixel_00" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_01" type="ladee:cosmic_ray_hit_pixel_01" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_02" type="ladee:cosmic_ray_hit_pixel_02" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_03" type="ladee:cosmic_ray_hit_pixel_03" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_04" type="ladee:cosmic_ray_hit_pixel_04" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_05" type="ladee:cosmic_ray_hit_pixel_05" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_06" type="ladee:cosmic_ray_hit_pixel_06" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_07" type="ladee:cosmic_ray_hit_pixel_07" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_08" type="ladee:cosmic_ray_hit_pixel_08" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_09" type="ladee:cosmic_ray_hit_pixel_09" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_10" type="ladee:cosmic_ray_hit_pixel_10" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_11" type="ladee:cosmic_ray_hit_pixel_11" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_12" type="ladee:cosmic_ray_hit_pixel_12" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_13" type="ladee:cosmic_ray_hit_pixel_13" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_14" type="ladee:cosmic_ray_hit_pixel_14" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_15" type="ladee:cosmic_ray_hit_pixel_15" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="cosmic_ray_hit_pixel_16" type="ladee:cosmic_ray_hit_pixel_16" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="drive_current" type="ladee:drive_current" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="emission_angle" type="ladee:emission_angle" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="in_sun" type="ladee:in_sun" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="integration_time" type="ladee:integration_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_vx" type="ladee:moon_fixed_vx" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_vy" type="ladee:moon_fixed_vy" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_vz" type="ladee:moon_fixed_vz" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_x" type="ladee:moon_fixed_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_y" type="ladee:moon_fixed_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="moon_fixed_z" type="ladee:moon_fixed_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="peak_counts" type="ladee:peak_counts" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="phase_angle" type="ladee:phase_angle" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="quaternion_w" type="ladee:quaternion_w" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="quaternion_x" type="ladee:quaternion_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="quaternion_y" type="ladee:quaternion_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="quaternion_z" type="ladee:quaternion_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="raw_timestamp" type="ladee:raw_timestamp" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="saturated_pixel_count" type="ladee:saturated_pixel_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="scan_number" type="ladee:scan_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_number" type="ladee:sequence_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_incidence_angle" type="ladee:solar_incidence_angle" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_j2000_x" type="ladee:solar_viewer_boresight_j2000_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_j2000_y" type="ladee:solar_viewer_boresight_j2000_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_j2000_z" type="ladee:solar_viewer_boresight_j2000_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_me_x" type="ladee:solar_viewer_boresight_me_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_me_y" type="ladee:solar_viewer_boresight_me_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_boresight_me_z" type="ladee:solar_viewer_boresight_me_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_fov_graze_altitude_above_terrain" type="ladee:solar_viewer_fov_graze_altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_altitude" type="ladee:solar_viewer_graze_altitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_altitude_above_terrain" type="ladee:solar_viewer_graze_altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_latitude" type="ladee:solar_viewer_graze_latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_longitude" type="ladee:solar_viewer_graze_longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_solar_latitude" type="ladee:solar_viewer_graze_solar_latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_graze_solar_longitude" type="ladee:solar_viewer_graze_solar_longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_solar_elongation" type="ladee:solar_viewer_solar_elongation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="solar_viewer_target" type="ladee:solar_viewer_target" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sun_graze_altitude_above_terrain" type="ladee:sun_graze_altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="tec_cold" type="ladee:tec_cold" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="tec_enabled" type="ladee:tec_enabled" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="tec_hot" type="ladee:tec_hot" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="tec_setpoint" type="ladee:tec_setpoint" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_j2000_x" type="ladee:telescope_boresight_j2000_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_j2000_y" type="ladee:telescope_boresight_j2000_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_j2000_z" type="ladee:telescope_boresight_j2000_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_me_x" type="ladee:telescope_boresight_me_x" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_me_y" type="ladee:telescope_boresight_me_y" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_boresight_me_z" type="ladee:telescope_boresight_me_z" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_earth_elongation" type="ladee:telescope_earth_elongation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_ecliptic_declination" type="ladee:telescope_ecliptic_declination" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_fov_graze_altitude_above_terrain" type="ladee:telescope_fov_graze_altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_altitude" type="ladee:telescope_graze_altitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_altitude_above_terrain" type="ladee:telescope_graze_altitude_above_terrain" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_latitude" type="ladee:telescope_graze_latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_longitude" type="ladee:telescope_graze_longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_solar_latitude" type="ladee:telescope_graze_solar_latitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_graze_solar_longitude" type="ladee:telescope_graze_solar_longitude" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_solar_elongation" type="ladee:telescope_solar_elongation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_sun_azimuth" type="ladee:telescope_sun_azimuth" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_sun_elevation" nillable="true" type="ladee:telescope_sun_elevation" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telescope_target" nillable="true" type="ladee:telescope_target" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="uvs_timestamp" type="ladee:uvs_timestamp" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="valid_checksum" type="ladee:valid_checksum" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="predicted_attitude_flag" type="ladee:predicted_attitude_flag" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="ladee:activity_type = ('AlmostLimb', 'BackwardLimbWithNod', 'BackwardLimbWithoutNod', 'DarkCal', 'ForwardLimbWithNod', 'ForwardLimbWithoutNod', 'NorthLimbWithNod', 'NorthLimbWithoutNod', 'Occultation', 'RamOnly', 'SodiumTail', 'SolarBoresightCal', 'SolarCal', 'SouthLimbWithNod', 'SouthLimbWithoutNod', 'StarCal', 'SurfaceCal', 'TelescopeBoresightCal', 'Unknown')"/> -->
    <!-- <xs:assert test="ladee:solar_viewer_target = ('DarkSky', 'Earth', 'Limb', 'LitMoon', 'Sun', 'Unknown', 'UnlitMoon')"/> -->
    <!-- <xs:assert test="ladee:telescope_target = ('DarkSky', 'Earth', 'Limb', 'LitMoon', 'Sun', 'Unknown', 'UnlitMoon')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        common namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:simpleType name="activity_number">
    <xs:annotation>
      <xs:documentation>Activities are the main units of data collection
        for UVS. They correspond to a single instrument power cycle so
        spectra collected within a single activity are relatively near
        each other in both space and time. Also, the spacecraft was
        generally oriented during an activity for a single observational
        purpose. Activities are numbered based on an incrementing
        counter that named UVS data files as they were created onboard
        the spacecraft. Most activities generated a single file, so
        activity numbers are approximately a count of the number of
        instrument power cycles. Occultation activities are the
        exception because they generated enough spectra to span two data
        files. Occultation activities, therefore, are assigned the
        number given to their first file, and no activity is assigned
        the number given to the second file, i.e., activity numbering
        skips one number after each occultation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="activity_type">
    <xs:annotation>
      <xs:documentation>A short string describing the nature of each
        activity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Preserved">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="altitude_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="altitude">
    <xs:annotation>
      <xs:documentation>Spacecraft altitude above the lunar reference
        sphere (radius=1737.4 km) in km</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:altitude_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="altitude_above_terrain_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>Spacecraft altitude above the lunar surface in
        km</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:altitude_above_terrain_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="average_counts">
    <xs:annotation>
      <xs:documentation>Average of all pixel values (range 0-1043) in
        DNs or calibrated units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_count">
    <xs:annotation>
      <xs:documentation>The number of cosmic ray hits identified within
        the spectrum.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_00">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_01">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_02">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_03">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_04">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_05">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_06">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_07">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_08">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_09">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_10">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_11">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_12">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_13">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_14">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_15">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cosmic_ray_hit_pixel_16">
    <xs:annotation>
      <xs:documentation>16 bits of a 1044-bit vector giving the location
        of hits</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="drive_current_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="drive_current">
    <xs:annotation>
      <xs:documentation>Thermo-Electric Cooler (TEC) Drive current in
        mA</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:drive_current_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Current" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="emission_angle">
    <xs:annotation>
      <xs:documentation>If the UVS telescope boresight intersects the
        lunar reference sphereoid, this is the angle at the intersection
        between the surface normal and the vector to LADEE in degrees. 0
        otherwise. Calculated by SPICE ilumin_c(). </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="180."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="in_sun">
    <xs:annotation>
      <xs:documentation>An integer representing three bits. Each bit
        represents a geometric calculation asking whether the upper limb
        of the sun is above the lunar limb (including terrain) at (bit
        0) the spectrum’s timestamp, (bit 1) 1 second before the start
        of data collection, and (bit 2) 1 second after the end of data
        collection. The 1 second buffers were chosen to be slightly
        conservative. A value of 0 means ‘definitely in shadow’ and 7
        means ‘definitely in sun’. Intermediate reflect intermediate
        knowledge. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="7"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="integration_time_WO_Units">
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="8"/>
     <xs:maxInclusive value="65535"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="integration_time">
    <xs:annotation>
      <xs:documentation>The detector integration time for each scan, in
        milliseconds. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:integration_time_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="latitude">
    <xs:annotation>
      <xs:documentation>Latitude of the sub-spacecraft point in Mean
        Earth frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="longitude">
    <xs:annotation>
      <xs:documentation>Longitude of the sub-spacecraft point in Mean
        Earth frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="moon_fixed_vx_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_vx">
    <xs:annotation>
      <xs:documentation>X coordinate of the spacecraft velocity in
        rectangular coordinates in Mean Earth frame and in km/s
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_vx_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Velocity" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="moon_fixed_vy_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_vy">
    <xs:annotation>
      <xs:documentation>Y coordinate of the spacecraft velocity in
        rectangular coordinates in Mean Earth frame and in km/s
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_vy_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Velocity" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="moon_fixed_vz_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_vz">
    <xs:annotation>
      <xs:documentation>Z coordinate of the spacecraft velocity in
        rectangular coordinates in Mean Earth frame and in km/s
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_vz_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Velocity" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="moon_fixed_x_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_x">
    <xs:annotation>
      <xs:documentation>X coordinate of the spacecraft position in
        rectangular coordinates in Mean Earth frame and in km
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_x_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="moon_fixed_y_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_y">
    <xs:annotation>
      <xs:documentation>Y coordinate of the spacecraft position in
        rectangular coordinates in Mean Earth frame and in km
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_y_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="moon_fixed_z_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="moon_fixed_z">
    <xs:annotation>
      <xs:documentation>Z coordinate of the spacecraft position in
        rectangular coordinates in Mean Earth frame and in km
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:moon_fixed_z_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="peak_counts">
    <xs:annotation>
      <xs:documentation>Maximum value in the spectrum, either in DNs or
        in calibrated units </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="phase_angle">
    <xs:annotation>
      <xs:documentation>If the UVS telescope boresight intersects the
        lunar reference sphereoid, this is the angle at the intersection
        between the sun vector and the vector to LADEE, in degrees. 0
        otherwise. Calculated by SPICE ilumin_c(). </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="predicted_attitude_flag">
    <xs:annotation>
      <xs:documentation>0 indicates spacecraft attitude estimated
        onboard by flight software was used to generate the metadata for
        this spectrum. 1 indicates that the attitude commanded by ground
        controllers was used. Onboard estimated attitudes were used for
        all spectra except when they were unavailable.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quaternion_w">
    <xs:annotation>
      <xs:documentation>W component of the spacecraft attitude
        quaternion in J2000 frame, estimated on-board by flight
        software. w is the scalar term. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quaternion_x">
    <xs:annotation>
      <xs:documentation>X component of the spacecraft attitude
        quaternion in J2000 frame, estimated on-board by flight
        software. w is the scalar term. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quaternion_y">
    <xs:annotation>
      <xs:documentation>Y component of the spacecraft attitude
        quaternion in J2000 frame, estimated on-board by flight
        software. w is the scalar term. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quaternion_z">
    <xs:annotation>
      <xs:documentation>Z component of the spacecraft attitude
        quaternion in J2000 frame, estimated on-board by flight
        software. w is the scalar term. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="raw_timestamp">
    <xs:annotation>
      <xs:documentation>Uncorrected timestamp applied by the s/c
        relative to the J2000 epoch in units of subseconds (2^-16 sec).
        This timestamp was applied to each spectrum as soon as it had
        been fully received by flight software from the UVS instrument.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="saturated_pixel_count">
    <xs:annotation>
      <xs:documentation>Number of pixels above a threshold value.
        Currently 60000 counts.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="scan_number">
    <xs:annotation>
      <xs:documentation>A sequence number assigned to each spectrum by
        the instrument. This number starts at 0 every time the
        instrument is commanded to capture a stream of spectra with the
        same integration time and spacing in time. During some
        activities, the integration time, spacing or both were changed,
        causing this number to be reset one or more
        times.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sequence_number">
    <xs:annotation>
      <xs:documentation>A sequence number assigned to each spectrum
        within an activity. This number does not reset within an
        activity, so the activity_number, sequence_number pair forms a
        unique identifier for each spectrum just as each spectrum’s
        timestamp is unique.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_incidence_angle">
    <xs:annotation>
      <xs:documentation>If the UVS telescope boresight intersects the
        lunar reference sphereoid, this is the angle at the intersection
        between the sun vector and surface normal. 0 otherwise.
        Calculated by SPICE ilumin_c().</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="180."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_latitude">
    <xs:annotation>
      <xs:documentation>Latitude of the sub-spacecraft point in a
        selenocentric, sun-synchronous frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_longitude">
    <xs:annotation>
      <xs:documentation>Longitude of the sub-spacecraft point in a
        selenocentric, sun-synchronous frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_j2000_x">
    <xs:annotation>
      <xs:documentation>X coordinate of the normalized solar-viewer
        boresight vector in J2000 frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_j2000_y">
    <xs:annotation>
      <xs:documentation>Y coordinate of the normalized solar-viewer
        boresight vector in J2000 frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_j2000_z">
    <xs:annotation>
      <xs:documentation>Z coordinate of the normalized solar-viewer
        boresight vector in J2000 frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_me_x">
    <xs:annotation>
      <xs:documentation>X coordinate of the normalized solar-viewer
        boresight vector in rectangular Mean Earth
        frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_me_y">
    <xs:annotation>
      <xs:documentation>Y coordinate of the normalized solar-viewer
        boresight vector in rectangular Mean Earth
        frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_boresight_me_z">
    <xs:annotation>
      <xs:documentation>Z coordinate of the normalized solar-viewer
        boresight vector in rectangular Mean Earth
        frame.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_fov_graze_altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>The circular edge of the solar viewer
        field-of-view corresponds to a cone rooted at the spacecraft.
        This value is the closest approach of that cone to terrain in
        km, or 0 if the cone intersects.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_altitude">
    <xs:annotation>
      <xs:documentation>The closest approach of the solar-viewer
        boresight vector to the lunar reference sphere, or 0 if it
        intersects </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>The closest approach of the solar-viewer
        boresight vector to terrain in km, or 0 if it
        intersects</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_latitude">
    <xs:annotation>
      <xs:documentation>Latitude in Mean Earth frame of the intersection
        of the solar viewer boresight vector and the LRO lunar reference
        sphere or the closest point on the reference sphere to that
        vector.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_longitude">
    <xs:annotation>
      <xs:documentation>Longitude in Mean Earth frame of the
        intersection of the solar viewer boresight vector and the LRO
        lunar reference sphere or the closest point on the reference
        sphere to that vector.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_solar_latitude">
    <xs:annotation>
      <xs:documentation>Latitude in a selenocentric, sun-synchronous
        frame of the intersection of the solar occultation viewer
        boresight vector and the lunar reference sphere or the closest
        point on the reference sphere to that vector. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_graze_solar_longitude">
    <xs:annotation>
      <xs:documentation>Longitude in a selenocentric, sun-synchronous
        frame of the intersection of the solar occultation viewer
        boresight vector and the lunar reference sphere or the closest
        point on the reference sphere to that vector. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_solar_elongation">
    <xs:annotation>
      <xs:documentation>Angle between the solar viewer boresight and the
        sun vector, in degrees </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="solar_viewer_target">
    <xs:annotation>
      <xs:documentation>A short string describing what is in the solar
        viewer’s field-of-view. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Preserved">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sun_graze_altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>The circular limb of the sun corresponds to a
        cone rooted at the spacecraft. This value is the closest
        approach of that cone to terrain in km, or 0 if the cone
        intersects terrain.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tec_cold_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tec_cold">
    <xs:annotation>
      <xs:documentation>Thermo-electric cooler cold-side temperature,
        which is the best estimate of the temperature of the detector,
        in degrees centigrade</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:tec_cold_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="tec_enabled">
    <xs:annotation>
      <xs:documentation>Indicates whether the Thermo-electric cooler is
        active. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Boolean">
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tec_hot_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tec_hot">
    <xs:annotation>
      <xs:documentation>Thermo-electric cooler hot-side temperature, in
        degrees centigrade </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:tec_hot_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="tec_setpoint_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tec_setpoint">
    <xs:annotation>
      <xs:documentation>The target temperature, in degrees C, to which
        the UVS’ thermo-electric cooler has been configured to drive the
        detector temperature. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:tec_setpoint_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="telescope_boresight_j2000_x">
    <xs:annotation>
      <xs:documentation>X coordinate of the normalized telescope
        boresight vector in rectangular J2000 frame </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_boresight_j2000_y">
    <xs:annotation>
      <xs:documentation>Y coordinate of the normalized telescope
        boresight vector in rectangular J2000 frame </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_boresight_j2000_z">
    <xs:annotation>
      <xs:documentation>Z coordinate of the normalized telescope
        boresight vector in rectangular J2000 frame </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_boresight_me_x">
    <xs:annotation>
      <xs:documentation>X coordinate of the normalized telescope
        boresight vector in rectangular Mean Earth frame
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_boresight_me_y">
    <xs:annotation>
      <xs:documentation>Y coordinate of the normalized telescope
        boresight vector in rectangular Mean Earth frame
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_boresight_me_z">
    <xs:annotation>
      <xs:documentation>Z coordinate of the normalized telescope
        boresight vector in rectangular Mean Earth frame
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1."/>
     <xs:maxInclusive value="1."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_earth_elongation">
    <xs:annotation>
      <xs:documentation>Angle between the telescope boresight vector and
        the Earth vector, in degrees </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_ecliptic_declination">
    <xs:annotation>
      <xs:documentation>Angle between the telescope boresight vector and
        the plane of the ecliptic </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_fov_graze_altitude_above_terrain_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="telescope_fov_graze_altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>Altitude above terrain in km of the vector
        through the edge of the telescope field of view closest to the
        moon center or 0 if the vector intersects terrain
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:telescope_fov_graze_altitude_above_terrain_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="telescope_graze_altitude_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="telescope_graze_altitude">
    <xs:annotation>
      <xs:documentation>Altitude above the reference sphere in km of the
        telescope boresight vector or 0 if the vector intersects the
        reference sphere </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:telescope_graze_altitude_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="telescope_graze_altitude_above_terrain_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="telescope_graze_altitude_above_terrain">
    <xs:annotation>
      <xs:documentation>Altitude above terrain in km of the telescope
        boresight vector or 0 if the vector intersects terrain
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ladee:telescope_graze_altitude_above_terrain_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="telescope_graze_latitude">
    <xs:annotation>
      <xs:documentation>Latitude in Mean Earth frame of the intersection
        of the telescope boresight vector and the lunar reference sphere
        or the closest point on the reference sphere to that vector.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_graze_longitude">
    <xs:annotation>
      <xs:documentation>Longitude in Mean Earth frame of the
        intersection of the telescope boresight vector and the lunar
        reference sphere or the closest point on the reference sphere to
        that vector. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_graze_solar_latitude">
    <xs:annotation>
      <xs:documentation>Latitude in a selenocentric, sun-synchronous
        frame of the intersection of the telescope boresight vector and
        the lunar reference sphere or the closest point on the reference
        sphere to that vector. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-90."/>
     <xs:maxInclusive value="90."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_graze_solar_longitude">
    <xs:annotation>
      <xs:documentation>Longitude in a selenocentric, sun-synchronous
        frame of the intersection of the telescope boresight vector and
        the lunar reference sphere or the closest point on the reference
        sphere to that vector.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="0."/>
     <xs:maxInclusive value="360."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_solar_elongation">
    <xs:annotation>
      <xs:documentation>Angle between the telescope boresight and the
        sun vector in degrees </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telescope_sun_azimuth">
    <xs:annotation>
      <xs:documentation>Azimuth in degrees of the sun vector in UVS
        telescope frame. This is approximately the angle between the
        Telescope boresight and the sun vector projected onto the LADEE
        radiator panel </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-180."/>
     <xs:maxInclusive value="180."/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="telescope_sun_elevation">
    <xs:annotation>
      <xs:documentation>Elevation in degrees of the sun vector in UVS
        telescope frame. This is approximately the angle between the sun
        vector and the LADEE radiator on which UVS is mounted
        </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="telescope_target">
    <xs:annotation>
      <xs:documentation>A short string describing what is in the
        telescope’s field-of-view. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Preserved">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="uvs_timestamp">
    <xs:annotation>
      <xs:documentation>A timestamp applied to the spectrum by the UVS
        instrument, in msec since UVS’ firmware booted. This provides a
        way to measure relative time that is independent of the
        spacecraft clock. It is not synchronized with that clock, and it
        starts at 0 during every UVS activity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="valid_checksum">
    <xs:annotation>
      <xs:documentation>True if the packet received by the spacecraft
        from UVS contained one spectrum with a valid checksum, False
        otherwise. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Boolean">
	   </xs:restriction>
  </xs:simpleType>
</xs:schema>
